.IntroductPopup {
    position: absolute;
    top: 158px;
    left: 516px;
    width: 340px;
    height: 290px;
    background-color: #34224f;
    border-radius: 6px;
    padding: 22px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 120px;
        height: 40px;
        margin-bottom: 8px;
    }
    h4 {
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: 450;
        margin-bottom: 20px;
    }

    button {
        width: 300px;
        height: 35px;
        border-radius: 50px;
        border: none;
        background-color: #9b4de0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 18px;
        h4 {
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            text-align: center;
        }
    }
}
