.ConfirmPassword {
    position: relative;
    width: 100%;
    height: 100%;
    .logo {
        position: fixed;
        top: 13px;
        left: 28px;
        width: 120px;
        height: 40px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 436px;
        display: flex;
        flex-direction: column;
        text-align: center;
        .line {
            width: 100%;
            height: 3px;
            background-color: #878787;
            position: relative;
            .lineActive {
                position: absolute;
                top: 0;
                left: 0;
                background-color: #1ed760;
                width: calc(100% / 3);
                height: 3px;
            }
        }

        .step {
            display: flex;
            flex-direction: row;
            position: relative;
            button {
                margin-top: 0px;
                margin-left: -10px;
                width: 56px;
                height: 80px;
                padding: 16px;
                background-color: transparent;
                border: none;
                outline: none;
                .icon {
                    width: 25px;
                    height: 25px;
                    -webkit-filter: invert(50%);
                }
            }

            .title {
                margin-left: -25px;
                display: flex;
                flex-direction: column;
                justify-content: left;
                width: 150px;
                height: 80px;
                padding: 16px 0;
                p {
                    margin-left: -35px;
                    color: #a7a7a7;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                span {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
        .passwordForm {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            margin-left: 56px;
            position: relative;
            h4 {
                display: flex;
                font-weight: 600;
                font-size: 16px;
                color: #fff;
                margin-bottom: 15px;
                justify-content: flex-start;
            }
            input {
                width: 324px;
                height: 48px;
                border-radius: 6px;
                border: 1px solid #fff;
                background-color: transparent;
                padding-left: 20px;
                color: #fff;
                &::placeholder {
                    color: #9e8d8d;
                    background-color: transparent;
                }
            }
            .icon {
                position: absolute;
                top: 50px;
                right: 70px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        .checked {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            margin-left: 56px;
            span {
                display: flex;
                justify-content: left;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
            }
            div {
                margin-top: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
                .icon {
                    margin-right: 10px;
                }
                p {
                    margin-right: 30px;
                }
            }
        }

        button {
            margin-top: 20px;
            margin-left: 56px;
            width: 324px;
            height: 48px;
            border-radius: 50px;
            background-color: #9b4de0;
            cursor: pointer;
            border: none;
            outline: none;
            h4 {
                color: #fff;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}
