.AccountPopup {
  position: absolute;
  top: 0;
  right: -10px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  .hidden {
    position: absolute;
    top: 0;
    left: 0;
    &::before {
      content: '';
      cursor: pointer;
      display: block;
      position: absolute;
      top: -55px;
      right: -300px;
      background-color: transparent;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .loginBox {
    width: 300px;
    height: 80px;
    border-radius: 10px;
    background-color: hsl(264, 40%, 22%);
    display: flex;
    padding: 20px;
    .item {
      width: 262px;
      height: 42px;
      background-color: #9b4de0;
      border-radius: 20px;
      padding-top: 8px;
      text-align: center;
      cursor: pointer;
      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .account {
    width: 300px;
    height: 260px;
    border-radius: 10px;
    background-color: hsl(264, 40%, 22%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    .info {
      width: 100%;
      height: 85px;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
      h3 {
        margin-left: 80px;
        margin-top: 10px;
        font-size: 18px;
        color: #fff;
      }
      .type {
        margin-top: 5px;
        margin-left: 80px;
        margin-bottom: 20px;
        width: 50px;
        height: 16px;
        background-color: #a1a1a1;
        border-radius: 6px;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 8px;
      }
    }

    .upgrade {
      width: 262px;
      height: 30px;
      border-radius: 15px;
      background-color: rgba($color: #fff, $alpha: 0.2);
      color: #fff;
      text-align: center;
      padding-top: 3px;
      justify-content: center;
    }
    .changeAvatar,
    .logoutUser {
      margin-top: 10px;
      width: 262px;
      height: 45px;
      border-radius: 8px;
      color: #dadada;
      display: flex;
      text-align: center;
      padding-top: 10px;
      background-color: transparent;
      position: relative;
      input {
        display: none;
      }
      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.2);
        cursor: pointer;
      }
      .upload,
      .logoutIcon {
        position: absolute;
        top: 15px;
        left: 10px;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        position: absolute;
        top: 12px;
        left: 40px;
      }
    }
  }

  .item {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    span {
      font-size: 22px;
    }
  }
}

.login,
.vip {
  background-color: blue;
  color: #fff;
  &:hover {
    background-color: rgb(14, 14, 161);
  }
}
.register,
.logout {
  background-color: red;
  &:hover {
    background-color: rgb(184, 16, 16);
  }
}
