.LibraryPage {
  width: calc(100vw - 237px);
  height: calc(100vh - 50px);
  position: fixed;
  top: 70px;
  left: 240px;
  background-color: #170f23;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 70px);
    left: 70px;
  }
}
