.Top100Page {
  width: calc(100vw - 240px);
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 240px;
  background-color: #170f23;
  color: white;
  overflow-x: hidden;
  @media screen and (max-width: 1024px) {
    left: 70px;
    width: calc(100vw - 70px);
  }
}
